.orderBox {
  color: var(--white);
  background-color: var(--yellow);
  border: 1px solid var(--white);
  border-radius: 2px;
  height: 50px;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  z-index: 3;
}

.orderBox > * {
  width: 100px;
  flex: 10 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
