.restaurant {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.restaurant__wrapper {
  /*width: auto;*/
  /*min-width: 300px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
