.button {
  color: var(--white);
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
  border-radius: 4px;
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  box-shadow: none;
  cursor: pointer;
  transition: 0.2s all;
  text-transform: uppercase;
}

.button:first-child {
  font-size: 20px;
}

.button:hover,
.button:focus,
.button:active {
  border-color: var(--yellow-light);
  background-color: var(--yellow-light);
}

.button + button {
  margin-left: 1px;
}

.button.primary {
  background-color: var(--orange);
  border: 1px solid var(--orange);
  color: var(--white);
}

.button.secondary {
  background-color: var(--grey-dark);
  border: 1px solid var(--grey-dark);
}

.button.primary:hover,
.button.primary:focus,
.button.primary:active {
  border-color: var(--orange-light);
  background-color: var(--orange-light);
}

.button.secondary:hover,
.button.secondary:focus,
.button.secondary:active {
  border-color: var(--grey);
  background-color: var(--grey);
}

.button.small {
  width: 20px;
  height: 20px;
}

.button.block {
  display: block;
  width: 100%;
  padding: 11px 20px;
  height: 50px;
}
