.reviews {
  margin: 0 auto;
  padding: 12px;
  max-width: 884px;
  width: 100%;
}

/* CSSTransition classes for a singe Review */

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
