.basket-animation-enter {
  opacity: 0;
  transform: scale(0.9);
}

.basket-animation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

.basket-animation-exit {
  opacity: 1;
}

.basket-animation-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}
