.basket {
  padding: 13px 16px 20px;
  background-color: var(--pink);
  position: relative;
}

.hr {
  margin: 14px 0;
}

.title {
  text-align: center;
  margin: 20px 0 16px;
  font-size: 18px;
  font-weight: 600;
}

.button {
  margin-top: 22px;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 767px) {
  .basket {
    padding: 20px 24px;
  }
}
