.item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-block-start: 1em;
  margin-block-end: 1em;

  /* settings for Counter inside Order */
  --count-width: 2.25rem;
  --counter-size: 1.25rem;
  --count-order: 3;
}

.name {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 0;
  flex-grow: 1;
}

.price {
  width: 4rem;
  text-align: right;
  padding-right: 1rem;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: var(--yellow);
}

.sum {
  width: 6rem;
  text-align: right;
  padding-right: 1rem;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.remove {
  box-sizing: border-box;
  color: var(--white);
  background-color: rgb(206, 56, 56);
  border: 1px solid rgb(206, 56, 56);
  border-radius: 2px;
  width: var(--counter-size, 2.25rem);
  height: var(--counter-size, 2.25rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-weight: 700;
  font-size: calc(var(--counter-size, 2.25rem)*.75);
  outline: none;
  box-shadow: none;
  cursor: pointer;
  flex-shrink: 0;
  margin: 1px;
  order: 2;
}

.remove:hover,
.remove:focus,
.remove:active {
  border-color: rgb(193, 86, 86);
  background-color: rgb(193, 86, 86);
}
