.product {
  padding: 20px 26px;
  margin-bottom: 12px;
  border: 1px solid var(--grey);
  background-color: var(--white);
  color: var(--black);
  transition: 0.2s all;
}

.product:last-child {
  margin-bottom: 0;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content > *:first-child {
  flex: 1 0 70%;
}

.content > *:last-child {
  flex: 1 0 30%;
  display: flex;
  justify-content: flex-end;
}

.title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 0;
}

.description {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.price {
  margin-top: 8px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: var(--yellow);
}

.counter {
  padding: 5px 0;
  text-align: center;
  display: inline-block;
}

.count {
  color: var(--grey-dark);
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 28px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

@media all and (max-width: 767px) {
  .product {
    padding: 12px 16px;
    margin-bottom: 16px;
  }

  .description {
    font-size: 14px;
    line-height: 20px;
  }
}
